Source: sniffio
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/python-trio/sniffio

Package: python3-sniffio
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Sniff out which async library your code is running under
 .. image:: https://img.shields.io/badge/chat-join%20now-blue.svg
    :target: https://gitter.im/python-trio/general
    :alt: Join chatroom
 .
 .. image:: https://img.shields.io/badge/docs-read%20now-blue.svg
    :target: https://sniffio.readthedocs.io/en/latest/?badge=latest
    :alt: Documentation Status
 .
 .. image:: https://img.shields.io/pypi/v/sniffio.svg
    :target: https://pypi.org/project/sniffio
    :alt: Latest PyPi version
 .
 .. image:: https://travis-ci.org/python-trio/sniffio.svg?branch=master
    :target: https://travis-ci.org/python-trio/sniffio
    :alt: Automated test status
 .
 .. image:: https://codecov.io/gh/python-trio/sniffio/branch/master/graph/badge.svg
    :target: https://codecov.io/gh/python-trio/sniffio
    :alt: Test coverage
 .

